
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1, h2, h3, p {
  margin: 0;
  text-align:center 
}


input, select, button {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 0.5rem;
  margin: 0.5rem;
}

button {
  background-color: #201E43;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}


input, select {
  width: 100%; 
}


.form-group {
  margin-bottom: 1rem;
}

.error-message, .success-message {
  color: red;
  text-align: left; 
  font-size: 0.9rem;
}

.success-message {
  color: green;
}


.action-buttons {
  display: flex;
  gap: 0.5rem;
}


.inscripcion-container {
  max-width: 500px; 
  margin: 2rem auto; 
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inscripcion-item {
  list-style: none;
  margin-bottom: 1rem;
}

.editing-notice {
  color: #ff8c00;
  font-size: 0.9rem;
  text-align: center;
}


@media (max-width: 768px) {
  .inscripcion-container {
    width: 90%;
  }
}
.inscripcion-container .title {
  color: black;
}

.inscripcion-container .sub-title{
  color: black;
}
.inscripcion-item {
  color: black; 
  font-weight: normal; 
}